@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <h1 class="display-4 mb-5">Code Test Submission</h1>
    <div class="col-12" id="form-container" >
        <div class="col-4 offset-4">
            
            <partial name="_PhoneInput" model='new PhoneNumber(PhoneType.Mobile)'/>
        </div>
         
    </div>
    

</div>
